<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div class="header" th:fragment="header">
    <div class="container">
        <div class="header-content">
            <div class="header-center" style="text-align: center">
                <a href="/" class="header-logo">
                    <img width="200px" src="/color.png"
                         alt="TelegramJournal"/>
                </a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
